################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/autoupdater-demo-main/build
/autoupdater-demo-main/electron-build
/autoupdater-demo-main/node_modules
/.vs
